#mapid { 
  height: 40vh;
  width: 60vw;
}
#main{
    background: linear-gradient(150deg, #d8e8e7,#e9ccaa, #b8bfe7);
    padding-top: 12px;
    .container{
        display: flex;
        flex-direction: column;
            align-items: center;
        .dropdown-cities{
            cursor: pointer;
            background: transparent;
            position: relative;
            margin-bottom: 58px;
            #cities{
                cursor: pointer;
                background: transparent;
                padding: 0px 20px;
                border-radius: 24px;
                border: 4px solid #000000;
                outline: none;
                width: 600px;
                height: 96px;
                max-width: 600px;
                max-height: 96px;
                font-size: 48px;
                .cities-option{
                    font-size: 48px;
                }
            }
            .dropdown-cities-icon{
                position: absolute;
                right: 20px;
                top: 16px;
                pointer-events: none;
            }
        }
    }
} 

.container{
    max-width: 1312px;
  margin: 0 auto;
  padding: 0 2rem;
}
 
@import url(https://fonts.googleapis.com/css?family=Roboto);
.rs-range{
    width: 100%;
}
.range-slider-container,
h2 {
	padding: 20px 0;
	position: relative;
  
  width: 100%;
  font-family: Roboto;
}
.range-slider-container h3 {
	font-size: 16px;
}
.range-slider-container .rs-value {
	position: absolute;
    top: 42px;    
    color: black;
	background: transparent;
	
    font-size: 48px;
}

.range-slider-container .min-max {
	display: flex;
	justify-content: space-between;
	color: #93989a;
}
.range-slider-container input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 8.5px 0;
  background: linear-gradient(to right, #d5d9da 0%, #d5d9da 100%);
  transition: background 450ms ease-in;
}
.range-slider-container input[type=range]:focus {
  outline: none;
}
.range-slider-container input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 64px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border-radius: 0px;
  border: 0px solid #ffffff;
}
.range-slider-container input[type=range]::-webkit-slider-thumb {
  box-shadow: 1.5px 1.5px 2.5px rgba(0, 0, 0, 0.5), 0px 0px 1.5px rgba(13, 13, 13, 0.5);
  border: 0px solid #000000;
  height: 128px;
  width: 128px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -32px;
}
.range-slider-container input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border-radius: 0px;
  border: 0px solid #ffffff;
}
.range-slider-container input[type=range]::-moz-range-thumb {
  box-shadow: 1.5px 1.5px 2.5px rgba(0, 0, 0, 0.5), 0px 0px 1.5px rgba(13, 13, 13, 0.5);
  border: 0px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background: #ffffff;
  cursor: pointer;
}
.range-slider-container input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.range-slider-container input[type=range]::-ms-fill-lower {
  background: #cacfd0;
  border: 0px solid #ffffff;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.range-slider-container input[type=range]::-ms-fill-upper {
  border: 0px solid #ffffff;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.range-slider-container input[type=range]::-ms-thumb {
  box-shadow: 1.5px 1.5px 2.5px rgba(0, 0, 0, 0.5), 0px 0px 1.5px rgba(13, 13, 13, 0.5);
  border: 0px solid #000000;
  width: 25px;
  border-radius: 25px;
  background: #ffffff;
  cursor: pointer;
  height: 8px;
}
.table-of-markers-constraction{
  display: flex;
  justify-content: space-between;
}


.table{
  display: block;
  align-self: center;
  font-size: 1.25rem;
  overflow-y: scroll;
  max-height: 500px;
  margin-top: 5rem;
}

.table-head{

}
.table-body{
  max-height: 300px;
  overflow-y: scroll;
}